/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */

html {
	background-color: #fff;
	color: #555;
	font-family: 'Josefin Sans', sans-serif, Arial; font-weight: 400;
	font-size: 16px;
}

/* ------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------ */

.row {
	width: 1124px;
	margin: 0 auto;
}

section {
    padding-top: 80px;
    padding-bottom: 90px;
}

/* ----- HEADINGS ----- */

h1 {
	font-family: 'Bangers', cursive, Arial, sans-serif; font-weight: 400;
	font-size: 400%;
	color: #fff;
	word-spacing: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h2, h3, h4 {
	color: #000;
	text-transform: uppercase;
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */

header {
	background-size: cover;
    background-position: center;
    height: 500px;
    background-attachment: fixed;
}

.index-header {
 	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/backgrounds/background.png);	
}

.portfolio-header {
 	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/backgrounds/sunset.png);
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -45%);
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.row h2 {
	color: #fff;
	font-size: 300%;
	text-transform: uppercase;
	float:left;
	margin-top: 55px;x
}

.main-nav li {
    display:inline-block;
    margin-left: 40px;
}

.main-nav em {
	color: #fff;
	text-transform: uppercase;
	padding: 8px 0px;
	border-bottom: 2px solid #e67e22;
	font-size: 90%;
}

.break {
	color: #fff;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ------------------------------------------ */
/* FOOTER */
/* ------------------------------------------ */

footer {
	background-color: #e67e22;
	color: #000;
	height: 80px;
	padding-top: 2%;
}

small {
	display: block;
	padding: 30px 0 0 10%;
}

.social-icons {
	float: left;
	width: 3%;
	padding: 5px 0 0 0;
}

.social-icons:first-child {
	padding-left: 10%;
}

.social-icons img {
	width: 25px;
	height: auto;
}

/* ------------------------------------------ */
/* ABOUT ME */
/* ------------------------------------------ */

.about-section {
	height: 250px;
	width: 900px;
	margin: 0 auto;
	line-height: 140%;
}

.image img {
	float: left;
	opacity: 1;
	width: 30%;
	height: auto;
	border-radius: 50%;
	border: 3px solid #e67e22;
	/*margin-left: 15%;*/
}

.image img:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

.content {
	float: left;
	width: 63%;
	margin-left: 5%;
}

/* ------------------------------------------ */
/* PORTFOLIO */
/* ------------------------------------------ */

em {
	font-style: italic;
	font-weight: bold;
	color: #000;
}

td {
	padding-bottom: 10px;
}

.portfolio-section {
	width: 900px;
	margin: 0 auto;
	line-height: 140%;
}

.no-bullet {
	list-style: none;
}

.image-column img {
	width: 90%;
	padding: 2px;
	border: 2px solid #e67e22;
}

.content-column {
	vertical-align: top;
}
